################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TopBusToursLondon/obj
/TopBusToursLondon/.vs
/TopBusToursLondon/bin/Debug
