################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TopBusToursLondon/obj
/TopBusToursLondon/.vs
/TopBusToursLondon/bin/Debug
/TopBusToursLondon_Business/bin/Debug/net8.0
/TopBusToursLondon_Business/obj
/TopBusToursLondon_Model/obj
/TopBusToursLondon_Model/bin/Debug/net8.0
