
@{
    ViewData["Title"] = "About";
}

<!--Mission Statement-->
<div class="container-fluid bg-dark text-white" align="center">
    <h1 class="display-4">Our <span style="color: #9B5DE5">Mission</span></h1>
    <p class="lead text-white">
        Making vacation planning as easy and valuable as possible.
    </p>
</div>
<div class="container">
    <!--Beliefs features-->
    <div class="m-5 row" align="center">
        <div class="col-12 mb-4 mt-2 mx-auto" align="center">
            <h1 class="text-capitalize font-weight-bold">Our <span style="color: #9B5DE5">Believes</span></h1>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-*">
            <div class="card border-0 shadow-sm">
                <h4 class="card-title my-2">Enjoy the Vacations</h4>
                <img class="card-img img-fluid" src="~/Images/Tourism/4.jpg" />
                <p class="card-text my-2">We believe that in our holidays we need to refresh our minds and souls. Healthy tourism  is a real need in today's challenging society. </p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-*">
            <div class="card border-0 shadow-sm">
                <h4 class="card-title my-2">Dream, Explore, Discover</h4>
                <img class="card-img img-fluid" src="~/Images/Tourism/2.jpg" />
                <p class="card-text my-2">We want to change the way people think about travelling. Tourism and Travelling is like converting your dreams into reality and exploring new adventures.</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-*">
            <div class="card border-0 shadow-sm">
                <h4 class="card-title my-2">Customer Satisfaction</h4>
                <img class="card-img img-fluid" src="~/Images/Tourism/3.jpg" />
                <p class="card-text my-2">We strive to maintain top of the line customer service because we believe in customer satisfaction. We don’t just aim to serve, but  to partner with our customers.</p>
            </div>
        </div>
    </div>
    <!--Why we do it-->
    <div class="row" style="margin-bottom:50px;">
        <div class="col-12 p-4 m-4 mx-auto" align="center">
            <h1 class="text-capitalize font-weight-bold">Our <span style="color: #9B5DE5">Motivation</span></h1>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-* px-5">
            <div class="card border-0">
                <div class="card-text">
                    <p style="line-height:2;">We are taking pride in making vacation planning as easy and valuable as possible. Top Bus Tours plays a unique role in building England tourism working with wide range of partners in U.K and worldwide.</p>
                    <p style="line-height:2;">We designed our tours to make the most of each destination. So you can enjoy all the attractions and places with a commitment to delivering the finest small group adventures across the UK. We pride ourselves in providing first class services, professional tour managers and amazing visit locations for our valuable customers.</p>
                </div>
                <div align="center">
                    <a class="button_slide slide_left" style="padding:10px 10px; font-size:15px;" asp-action="Index" asp-controller="Home" role="button" align="center">Find More Tours</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-*" align="center">
            <div class="card border-0">
                <div class="card-img">
                    <img src="~/Images/Tourism/6.jpg" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
<!--Our Team-->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-12 p-4 m-4 mx-auto" align="center">
                <h1 class="text-capitalize font-weight-bold">Our <span style="color: #9B5DE5">Team</span></h1>
                <p class="text-black">We have a team of professionals for making vacations trip affordable and manageable. </p>
            </div>
        </div>
        <div class="col-md-12 ">
            <div class="row bg-secondary">
                <div class="col-md-4 col-sm-4 mx-auto p-5 col-*">
                    <div class="card border-0 bg-transparent ">
                        <img class="card-img-top rounded-circle img-fluid px-4" src="~/Images/team/our-team.jpg" />
                        <div class="card-body">
                            <div class="card-text my-1" align="center">
                                <h3 class="text-primary font-weight-bold">Dr. Sohail Razzaq</h3>
                                <h5 class="font-weight-bold">CEO</h5>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-* p-5 mx-auto">
                    <div class="card border-0 bg-transparent">
                        <img class="card-img-top rounded-circle img-fluid px-4" src="~/Images/team/our-team.jpg" />
                        <div class="card-body">
                            <div class="card-text my-1" align="center">
                                <h3 class="text-primary font-weight-bold">Asad Raza</h3>
                                <h5 class="font-weight-bold">President</h5>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-* p-5 mx-auto">
                    <div class="card border-0 bg-transparent">
                        <img class="card-img-top rounded-circle img-fluid px-4" src="~/Images/team/our-team.jpg" />
                        <div class="card-body">
                            <div class="card-text my-1" align="center">
                                <h3 class="text-primary font-weight-bold">Sohail Abbas</h3>
                                <h5 class="font-weight-bold">Managing Director</h5>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Testimonials-->
<div class="container my-5">
    <div class="text-center mb-5">
        <span class="text-secondary text-uppercase">Testimonials</span>
        <h1 class="text-capitalize font-weight-bold mt-2">What Our <span style="color: #9B5DE5">Clients Say?</span></h1>
    </div>
    <div class="row flex justify-content-between">
        <div class="col-md-4 p-2 text-center">
            <div class="p-5">
                <svg height="30px" fill="#9B5DE5" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
                <g>
                <g id="right_x5F_quote">
                <g>
                <path d="M0,4v12h8c0,4.41-3.586,8-8,8v4c6.617,0,12-5.383,12-12V4H0z" />

                <path d="M20,4v12h8c0,4.41-3.586,8-8,8v4c6.617,0,12-5.383,12-12V4H20z" />

                    </g>
                    </g>
                    </g>
                    </svg>
                <div class="my-3">
                    <p class="text-secondary">Top bus tours London services and facilities are exceptional. There packages are amazing.</p>
                </div>
                <a href="#" class="font-weight-bold d-block stretched-link" style="color: #9b5de5">Mati Ullah</a>
                <span class="text-secondary">Tourist</span>
            </div>
        </div>
        <div class="col-md-4 p-2 text-center">
            <div class="p-5" style="background: #e0fa84">
                <svg height="30px" fill="#9B5DE5" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
                <g>
                <g id="right_x5F_quote">
                <g>
                <path d="M0,4v12h8c0,4.41-3.586,8-8,8v4c6.617,0,12-5.383,12-12V4H0z" />

                <path d="M20,4v12h8c0,4.41-3.586,8-8,8v4c6.617,0,12-5.383,12-12V4H20z" />

                    </g>
                    </g>
                    </g>
                    </svg>
                <div class="my-3">
                    <p class="text-secondary">Awesome customer support, affordable prices, and beautiful visits, they are professional.</p>
                </div>
                <a href="#" class="font-weight-bold d-block stretched-link" style="color: #9b5de5">Ali Khan</a>
                <span class="text-secondary">Student</span>
            </div>
        </div>

        <div class="col-md-4 p-2 text-center">
            <div class="p-5">
                <svg height="30px" fill="#9B5DE5" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
                <g>
                <g id="right_x5F_quote">
                <g>
                <path d="M0,4v12h8c0,4.41-3.586,8-8,8v4c6.617,0,12-5.383,12-12V4H0z" />

                <path d="M20,4v12h8c0,4.41-3.586,8-8,8v4c6.617,0,12-5.383,12-12V4H20z" />

                    </g>
                    </g>
                    </g>
                    </svg>
                <div class="my-3">
                    <p class="text-secondary">They are having the great staff and tour guides, don't hesitate to travel with them.</p>
                </div>
                <a href="#" class="font-weight-bold d-block stretched-link" style="color: #9b5de5">Stuart Mark</a>
                <span class="text-secondary">Traveler</span>
            </div>
        </div>
    </div>
</div>

<!--More Questions-->
<div class="container-fluid bg-light text-black py-4">
    <div class="container" align="center">
        <h3>Have More Questions?</h3>
        <br />
        <a class="button_slide slide_left" style="padding:15px 15px; font-size:15px;" asp-action="Contact" asp-controller="Home" role="button" align="center">Contact Us</a>
    </div>
</div>
