
@{
    ViewData["Title"] = "Big Bus Tours";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 px-0">
            <img class="img-fluid bigbusimg" src="~/Images/Slider/BigBusCover-min.jpg" />
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center mt-n5 ">
        <div class="col-lg-2">

        </div>
        <div class="col-md-auto my-auto col-sm-6 bg-light shadow border border-info rounded">
            <h1 style="text-align:center;font-family:'Playfair Display'" class="h1_responsive">Big Bus Tours Tickets</h1>
            <p style="text-align:center" class="p_responsive">
                Tickets of our most popular and comprehensive tour of London.
            </p>
        </div>
        <div class="col-lg-2">

        </div>

    </div>
</div>
<br />
<div class="container">
    <div class="row">
        <div class="col-md-4 mt-4">
            <div class="card border border-0">
                <div class="bigbus">
                    <img class="img-fluid" src="~/Images/Tickets/o-24-min-bigbus.jpg" alt="Big Bus Tour" />
                    <h4>Classic Ticket</h4>
                    <h5>Big Bus Tours</h5>
                </div>
                <div class="ticketfacility">
                    <h6>1 Day Hop-on, Hop-off<i class="fa fa-check-circle"></i></h6>
                    <h6>Free walking tour <i class="fa fa-check-circle"></i></h6>
                    <h6>Free river cruse one way <i class="fa fa-check-circle"></i></h6>
                    <h6>Free Wifi on Board <i class="fa fa-check-circle"></i></h6>
                </div>
                <div class="pricedetails">
                    <h6>
                        <i class="fa fa-user"></i>
                        Adults
                        <br />
                        <span>16+ years old</span>
                    </h6>
                    <h5>
                        <span1>£45.00</span1>
                        &nbsp;
                        <span2>£39.00</span2>
                    </h5>
                    <h6>
                        <i class="fa fa-child"></i>
                        Children
                        <br />
                        <span>5-15 years age</span>
                    </h6>
                    <h5>
                        <span1>£34.00</span1>
                        &nbsp;
                        <span2>£29.00</span2>
                    </h5>
                    @*<h6><i class="fa fa-users"></i>
                            Family
                            <br />
                            <span>2 Adults, 2 Children</span>
                        </h6>
                        <h5>
                            <span1>£107.00</span1>
                            &nbsp;
                            <span2>£84.99</span2>
                        </h5>*@
                    <hr />
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-6">
                            <a style="padding:10px 25px; font-size:12px;" class="button_slide slide_left " href="https://eur03.safelinks.protection.outlook.com/?url=https%3A%2F%2Faffiliates.bigbuspartners.com%2Fen%3Fr%3Dtopbustours3&data=02%7C01%7CGSzkola%40bigbustours.com%7C7c51b73b9a1147b9f50408d8484228c5%7C2feb856a1b464301852f8ef4b1e45dc8%7C0%7C0%7C637338796271950240&sdata=owZ5k1tQ0E7O2hJQFafbPOOrkt6ZXT8JaseZnjVDW%2FA%3D&reserved=0">Book Now</a>
                        </div>
                        <div class="col-md-5 col-sm-6 col-6">
                            <a style="padding:10px 25px; font-size:12px;" class="button_slide slide_left float-md-right" href="https://eur03.safelinks.protection.outlook.com/?url=https%3A%2F%2Faffiliates.bigbuspartners.com%2Fen%3Fr%3Dtopbustours3&data=02%7C01%7CGSzkola%40bigbustours.com%7C7c51b73b9a1147b9f50408d8484228c5%7C2feb856a1b464301852f8ef4b1e45dc8%7C0%7C0%7C637338796271950240&sdata=owZ5k1tQ0E7O2hJQFafbPOOrkt6ZXT8JaseZnjVDW%2FA%3D&reserved=0">More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4">
            <div class="card border border-0">
                <div class="bigbus">
                    <img class="img-fluid" src="~/Images/Tickets/bigbus.jpg" alt="Big Bus Tour" />
                    <h4>Premium Ticket</h4>
                    <h5>Big Bus Tours</h5>
                </div>
                <div class="ticketfacility">
                    <h6>2-Day Hop-on, Hop-off<i class="fa fa-check-circle"></i></h6>
                    <h6>Free walking tour <i class="fa fa-check-circle"></i></h6>
                    <h6>Free river cruse of Thames<i class="fa fa-check-circle"></i></h6>
                    <h6>Live English speaking guide<i class="fa fa-check-circle"></i></h6>
                </div>
                <div class="pricedetails">
                    <h6>
                        <i class="fa fa-user"></i>
                        Adults
                        <br />
                        <span>16+ years old</span>
                    </h6>
                    <h5>
                        <span1>£49.00</span1>
                        &nbsp;
                        <span2>£45.00</span2>
                    </h5>
                    <h6>
                        <i class="fa fa-child"></i>
                        Children
                        <br />
                        <span>5-15 years age</span>
                    </h6>
                    <h5>
                        <span1>£39.00</span1>
                        &nbsp;
                        <span2>£35.00</span2>
                    </h5>
                    @*<h6>
                            <i class="fa fa-users"></i>
                            Family
                            <br />
                            <span>2 Adults, 2 Children</span>
                        </h6>
                        <h5>
                            <span1>£137.00</span1>
                            &nbsp;
                            <span2>£123.30</span2>
                        </h5>*@
                    <hr />
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-6">
                            <a style="padding:10px 25px; font-size:12px;" class="button_slide slide_left " href="https://eur03.safelinks.protection.outlook.com/?url=https%3A%2F%2Faffiliates.bigbuspartners.com%2Fen%3Fr%3Dtopbustours3&data=02%7C01%7CGSzkola%40bigbustours.com%7C7c51b73b9a1147b9f50408d8484228c5%7C2feb856a1b464301852f8ef4b1e45dc8%7C0%7C0%7C637338796271950240&sdata=owZ5k1tQ0E7O2hJQFafbPOOrkt6ZXT8JaseZnjVDW%2FA%3D&reserved=0">Book Now</a>
                        </div>
                        <div class="col-md-5 col-sm-6 col-6">
                            <a style="padding:10px 25px; font-size:12px;" class="button_slide slide_left float-md-right" href="https://eur03.safelinks.protection.outlook.com/?url=https%3A%2F%2Faffiliates.bigbuspartners.com%2Fen%3Fr%3Dtopbustours3&data=02%7C01%7CGSzkola%40bigbustours.com%7C7c51b73b9a1147b9f50408d8484228c5%7C2feb856a1b464301852f8ef4b1e45dc8%7C0%7C0%7C637338796271950240&sdata=owZ5k1tQ0E7O2hJQFafbPOOrkt6ZXT8JaseZnjVDW%2FA%3D&reserved=0">More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4">
            <div class="card border border-0">
                <div class="bigbus">
                    <img class="img-fluid" src="~/Images/Tickets/o-72-min-bigbus.jpg" alt="Big Bus Tour" />
                    <h4 class="text-center">Deluxe Ticket</h4>
                    <h5 class="text-center">Big Bus Tours</h5>
                </div>
                <div class="ticketfacility">
                    <h6>2-Day Hop-on, Hop-off<i class="fa fa-check-circle"></i></h6>
                    <h6>Live English speaking guide<i class="fa fa-check-circle"></i></h6>
                    <h6>River cruse - return<i class="fa fa-check-circle"></i></h6>
                    <h6>London Eye Fast Track Entry<i class="fa fa-check-circle"></i></h6>
                </div>
                <div class="pricedetails">
                    <h6>
                        <i class="fa fa-user"></i>
                        Adults
                        <br />
                        <span>16+ years old</span>
                    </h6>
                    <h5>
                        <span1>£74.00</span1>
                        &nbsp;
                        <span2>£69.00</span2>
                    </h5>
                    <h6>
                        <i class="fa fa-child"></i>
                        Children
                        <br />
                        <span>5-15 years age</span>
                    </h6>
                    <h5>
                        <span1>£64.00</span1>
                        &nbsp;
                        <span2>£59.00</span2>
                    </h5>
                    @*<h6>
                            <i class="fa fa-users"></i>
                            Family
                            <br />
                            <span>2 Adults, 2 Children</span>
                        </h6>
                        <h5>
                            <span1>£152.00</span1>
                            &nbsp;
                            <span2>£136.80</span2>
                        </h5>*@
                    <hr />
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-6">
                            <a style="padding:10px 25px; font-size:12px;" class="button_slide slide_left " href="https://eur03.safelinks.protection.outlook.com/?url=https%3A%2F%2Faffiliates.bigbuspartners.com%2Fen%3Fr%3Dtopbustours3&data=02%7C01%7CGSzkola%40bigbustours.com%7C7c51b73b9a1147b9f50408d8484228c5%7C2feb856a1b464301852f8ef4b1e45dc8%7C0%7C0%7C637338796271950240&sdata=owZ5k1tQ0E7O2hJQFafbPOOrkt6ZXT8JaseZnjVDW%2FA%3D&reserved=0">Book Now</a>
                        </div>
                        <div class="col-md-5 col-sm-6 col-6">
                            <a style="padding:10px 25px; font-size:12px;" class="button_slide slide_left float-md-right" href="https://eur03.safelinks.protection.outlook.com/?url=https%3A%2F%2Faffiliates.bigbuspartners.com%2Fen%3Fr%3Dtopbustours3&data=02%7C01%7CGSzkola%40bigbustours.com%7C7c51b73b9a1147b9f50408d8484228c5%7C2feb856a1b464301852f8ef4b1e45dc8%7C0%7C0%7C637338796271950240&sdata=owZ5k1tQ0E7O2hJQFafbPOOrkt6ZXT8JaseZnjVDW%2FA%3D&reserved=0">More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />

