
@{
    ViewData["Title"] = "Golden Tours";
}

<!--Main Image-->
<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 px-0">
                <img class="img-fluid bigbusimg" src="~/Images/Slider/GoldenTourCover-min.jpg" />
            </div>
        </div>
    </div>
</header>

<!--Main Heading-->
<div class="container">
    <div class="row justify-content-center mt-n5">
        <div class="col-lg-2">

        </div>
        <div class="col-md-auto my-auto col-sm-auto bg-light shadow border border-info rounded">
            <h1 style="text-align:center;font-family:'Playfair Display'" class="h1_responsive">Golden Tours Tickets</h1>
            <p style="text-align:center" class="p_responsive">
                Tickets of our most popular and comprehensive tour of London.
            </p>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
</div>
<br />
<!--Nav Tags-Tickets Types-->
<section class="container py-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-*">
            <ul id="tabsJustified" class="nav nav-tabs nav-justified">
                <li class="nav-item tckt">
                    <a href="" data-target="#classic" data-toggle="tab" class="nav-link small bg-dark text-uppercase active">Classic</a>
                </li>
                <li class="nav-item tckt">
                    <a href="" data-target="#premium" data-toggle="tab" class="nav-link small bg-dark text-uppercase">Premium</a>
                </li>
                <li class="nav-item tckt">
                    <a href="" data-target="#deluxe" data-toggle="tab" class="nav-link small bg-dark text-uppercase">Deluxe</a>
                </li>
                <li class="nav-item tckt">
                    <a href="" data-target="#daytime" data-toggle="tab" class="nav-link small bg-dark text-uppercase">Day</a>
                </li>
            </ul>
            <br>
            <div id="tabsJustifiedContent" class="tab-content">
                <div id="classic" class="tab-pane fade active show">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="goldentour">
                                <img class="img-fluid" src="~/Images/Tickets/g-24-min.jpg" alt="Classic Ticket of Golden Tour" />
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="goldentourtitle">
                                <h2 class="text-dark float-left">Classic Ticket</h2><br />
                                <br />
                                <h3 class="text-dark float-left">Golden Tours</h3>
                            </div>
                            <br />
                            <h4 class="text-danger mt-4 ml-3 highlights">Highlights:</h4>
                            <div class="col-md-12 col-sm-12">
                                <div class="goldenfacility bg-light border rounded pt-2">
                                    <h6>24hours open top city tour <i class="fa fa-check-circle"></i></h6>
                                    <h6>Free walking tour <i class="fa fa-check-circle"></i></h6>
                                    <h6>Free river cruse one way <i class="fa fa-check-circle"></i></h6>
                                    <h6>Free Wi-Fi on Board <i class="fa fa-check-circle"></i></h6>
                                </div>
                            </div>
                            <h4 class="text-danger mt-4 ml-3 pricingdetails">Pricing Details:</h4>
                            <div class="col-md-12 col-sm-12">
                                <div class="goldenpricedetails text-dark bg-light border rounded">
                                    <h6>
                                        <i class="fa fa-user"></i>
                                        Adults
                                        <br />
                                        <span>16+ years old</span>
                                    </h6>
                                    <h5>
                                        <span1>£120.00</span1>
                                        &nbsp;
                                        <span2>£105.00</span2>
                                    </h5>
                                    <h6>
                                        <i class="fa fa-child"></i>
                                        Children
                                        <br />
                                        <span>5-15 years age</span>
                                    </h6>
                                    <h5>
                                        <span1>£85.00</span1>
                                        &nbsp;
                                        <span2>£72.00</span2>
                                    </h5>
                                    @*<h6>
                                            <i class="fa fa-users"></i>
                                            Family
                                            <br />
                                            <span>2 Adults, 2 Children</span>
                                        </h6>
                                        <h5>
                                            <span1>£100.00</span1>
                                            &nbsp;
                                            <span2>£89.00</span2>
                                        </h5>*@
                                    <hr class="goldenhr" />
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-6">
                                            <a href="https://topbustours.gttix.com/the-ultimate-london-summer-package" style="padding:10px 25px; font-size:12px;" class="button_slide slide_left ml-4">Book Now</a>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-6">
                                            <a href="https://topbustours.gttix.com/the-ultimate-london-summer-package" style="padding:10px 25px; font-size:12px;" class="button_slide slide_left float-md-right mr-4">More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="premium" class="tab-pane fade">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="goldentour">
                                <img class="img-fluid" src="~/Images/Tickets/g-48-min.jpg" alt="Premium Ticket of Golden Tour" />
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="goldentourtitle">
                                <h2 class="text-dark float-left">Premium Ticket</h2><br />
                                <br />
                                <h3 class="text-dark float-left">Golden Tours</h3>
                            </div>
                            <br />
                            <h4 class="text-danger mt-4 ml-3 highlights">Highlights:</h4>
                            <div class="col-md-12 col-sm-12">
                                <div class="goldenfacility bg-light border rounded pt-2">
                                    <h6>48hours open top city tour <i class="fa fa-check-circle"></i></h6>
                                    <h6>Free walking tour <i class="fa fa-check-circle"></i></h6>
                                    <h6>Free river cruse return <i class="fa fa-check-circle"></i></h6>
                                    <h6>Free Wi-Fi on Board <i class="fa fa-check-circle"></i></h6>
                                </div>
                            </div>
                            <h4 class="text-danger mt-4 ml-3 pricingdetails">Pricing Details:</h4>
                            <div class="col-md-12 col-sm-12">
                                <div class="goldenpricedetails text-dark bg-light border rounded">
                                    <h6>
                                        <i class="fa fa-user"></i>
                                        Adults
                                        <br />
                                        <span>16+ years old</span>
                                    </h6>
                                    <h5>
                                        <span1>£50.00</span1>
                                        &nbsp;
                                        <span2>£45.00</span2>
                                    </h5>
                                    <h6>
                                        <i class="fa fa-child"></i>
                                        Children
                                        <br />
                                        <span>5-15 years age</span>
                                    </h6>
                                    <h5>
                                        <span1>£25.00</span1>
                                        &nbsp;
                                        <span2>£20.00</span2>
                                    </h5>
                                    <h6>
                                        <i class="fa fa-users"></i>
                                        Family
                                        <br />
                                        <span>2 Adults, 2 Children</span>
                                    </h6>
                                    <h5>
                                        <span1>£130.00</span1>
                                        &nbsp;
                                        <span2>£120.00</span2>
                                    </h5>
                                    <hr class="goldenhr" />
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-6">
                                            <a href="https://topbustours.gttix.com/hop-on-hop-off-bus-tour-48-hour-ticket" style="padding:10px 25px; font-size:12px;" class="button_slide slide_left ml-4">Book Now</a>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-6">
                                            <a href="https://topbustours.gttix.com/hop-on-hop-off-bus-tour-48-hour-ticket" style="padding:10px 25px; font-size:12px;" class="button_slide slide_left float-md-right mr-4">More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="deluxe" class="tab-pane fade">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="goldentour">
                                <img class="img-fluid" src="~/Images/Tickets/g-72-min.jpg" alt="Deluxe Ticket of Golden Tour" />
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="goldentourtitle">
                                <h2 class="text-dark float-left">Deluxe Ticket</h2><br />
                                <br />
                                <h3 class="text-dark float-left">Golden Tours</h3>
                            </div>
                            <br />
                            <h4 class="text-danger mt-4 ml-3 highlights">Highlights:</h4>
                            <div class="col-md-12 col-sm-12">
                                <div class="goldenfacility bg-light border rounded pt-2">
                                    <h6>24hours open top city tour <i class="fa fa-check-circle"></i></h6>
                                    <h6>Free walking tour <i class="fa fa-check-circle"></i></h6>
                                    <h6>Free river cruse 1 way <i class="fa fa-check-circle"></i></h6>
                                    <h6>Ticket valid for all 4 routes <i class="fa fa-check-circle"></i></h6>
                                </div>
                            </div>
                            <h4 class="text-danger mt-4 ml-3 pricingdetails">Pricing Details:</h4>
                            <div class="col-md-12 col-sm-12">
                                <div class="goldenpricedetails text-dark bg-light border rounded">
                                    <h6>
                                        <i class="fa fa-user"></i>
                                        Adults
                                        <br />
                                        <span>16+ years old</span>
                                    </h6>
                                    <h5>
                                        <span1>£55.00</span1>
                                        &nbsp;
                                        <span2>£50.00</span2>
                                    </h5>
                                    <h6>
                                        <i class="fa fa-child"></i>
                                        Children
                                        <br />
                                        <span>5-15 years age</span>
                                    </h6>
                                    <h5>
                                        <span1>£25.00</span1>
                                        &nbsp;
                                        <span2>£22.00</span2>
                                    </h5>
                                    <h6>
                                        <i class="fa fa-users"></i>
                                        Family
                                        <br />
                                        <span>2 Adults, 2 Children</span>
                                    </h6>
                                    <h5>
                                        <span1>£140.00</span1>
                                        &nbsp;
                                        <span2>£134.00</span2>
                                    </h5>
                                    <hr class="goldenhr" />
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-6">
                                            <a href="https://topbustours.gttix.com/hop-on-hop-off-bus-tour-72-hour-ticket" style="padding:10px 25px; font-size:12px;" class="button_slide slide_left ml-4">Book Now</a>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-6">
                                            <a href="https://topbustours.gttix.com/hop-on-hop-off-bus-tour-72-hour-ticket" style="padding:10px 25px; font-size:12px;" class="button_slide slide_left float-md-right mr-4">More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="daytime" class="tab-pane fade">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="goldentour">
                                <img class="img-fluid" src="~/Images/Tickets/g-24-min.jpg" alt="Day Ticket of Golden Tour" />
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="goldentourtitle">
                                <h2 class="text-dark float-left">Day Ticket</h2><br />
                                <br />
                                <h3 class="text-dark float-left">Golden Tours</h3>
                            </div>
                            <br />
                            <h4 class="text-danger mt-4 ml-3 highlights">Highlights:</h4>
                            <div class="col-md-12 col-sm-12">
                                <div class="goldenfacility bg-light border rounded pt-2">
                                    <h6>Valid for 1 day <i class="fa fa-check-circle"></i></h6>
                                    <h6>Free Wi-Fi on board<i class="fa fa-check-circle"></i></h6>
                                    <h6>Valid for all 4 routes<i class="fa fa-check-circle"></i></h6>
                                    <h6>Live English speaking guide <i class="fa fa-check-circle"></i></h6>
                                </div>
                            </div>
                            <h4 class="text-danger mt-4 ml-3 pricingdetails">Pricing Details:</h4>
                            <div class="col-md-12 col-sm-12">
                                <div class="goldenpricedetails text-dark bg-light border rounded">
                                    <h6>
                                        <i class="fa fa-user"></i>
                                        Adults
                                        <br />
                                        <span>16+ years old</span>
                                    </h6>
                                    <h5>
                                        <span1>£120.00</span1>
                                        &nbsp;
                                        <span2>£108.00</span2>
                                    </h5>
                                    <h6>
                                        <i class="fa fa-child"></i>
                                        Children
                                        <br />
                                        <span>5-15 years age</span>
                                    </h6>
                                    <h5>
                                        <span1>£100.00</span1>
                                        &nbsp;
                                        <span2>£88.00</span2>
                                    </h5>
                                    <h6>
                                        <i class="fa fa-users"></i>
                                        Family
                                        <br />
                                        <span>2 Adults, 2 Children</span>
                                    </h6>
                                    <h5>
                                        <span1>£400.00</span1>
                                        &nbsp;
                                        <span2>£383.00</span2>
                                    </h5>
                                    <hr class="goldenhr" />
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-6">
                                            <a href="https://topbustours.gttix.com/1-day-hop-on-hop-off-ticket-and-oxford-stratford-cotswolds-and-warwick-castle-with-free-lunch-pack" style="padding:10px 25px; font-size:12px;" class="button_slide slide_left ml-4">Book Now</a>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-6">
                                            <a href="https://topbustours.gttix.com/1-day-hop-on-hop-off-ticket-and-oxford-stratford-cotswolds-and-warwick-castle-with-free-lunch-pack" style="padding:10px 25px; font-size:12px;" class="button_slide slide_left float-md-right mr-4">More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>