
@{
    ViewData["Title"] = "Harry Potter";
}

<!--Main Image-->
<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 px-0">
                <img class="img-fluid bigbusimg" src="~/Images/Tickets/HarryPottarCover-min.jpg" />
            </div>
        </div>
    </div>
</header>

<!--Main Heading-->
<div class="container">
    <div class="row justify-content-center mt-n5">
        <div class="col-lg-2">

        </div>
        <div class="col-md-auto my-auto col-sm-auto bg-light shadow border border-info rounded">
            <h1 style="text-align:center;font-family:'Playfair Display'" class="h1_responsive">Harry Potter Tickets</h1>
            <p style="text-align:center" class="p_responsive">
                Tickets of our most popular and comprehensive tour of London.
            </p>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
</div>
<br />
<!--Nav Tags-Tickets Types-->
<section class="container py-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-*">
            <ul id="tabsJustified" class="nav nav-tabs nav-justified">
                <li class="nav-item tckt">
                    <a href="" data-target="#classic" data-toggle="tab" class="nav-link small bg-dark text-uppercase active">Warner Bros.</a>
                </li>
                <li class="nav-item tckt">
                    <a href="" data-target="#premium" data-toggle="tab" class="nav-link small bg-dark text-uppercase">Transport</a>
                </li>
                <li class="nav-item tckt">
                    <a href="" data-target="#deluxe" data-toggle="tab" class="nav-link small bg-dark text-uppercase">Return Trns.</a>
                </li>
            </ul>
            <br>
            <div id="tabsJustifiedContent" class="tab-content">
                <div id="classic" class="tab-pane fade active show">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="goldentour">
                                <img class="img-fluid" src="~/Images/Tickets/h-1-min.jpg" alt="Warner Bross. Studio" />
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="goldentourtitle">
                                <h2 class="text-dark float-left">Warner Bros. Studio</h2><br />
                                <br />
                                <h3 class="text-dark float-left">Harry Potter</h3>
                            </div>
                            <br />
                            <h4 class="text-danger mt-4 ml-3 highlights">Highlights:</h4>
                            <div class="col-md-12 col-sm-12">
                                <div class="goldenfacility bg-light border rounded pt-2">
                                    <h6>Social distancing measures taken<i class="fa fa-check-circle"></i></h6>
                                    <h6>Preferred Partner with Warner Bross<i class="fa fa-check-circle"></i></h6>
                                    <h6>Experience filmmaking magic at studio<i class="fa fa-check-circle"></i></h6>
                                    <h6>Step into the great hall<i class="fa fa-check-circle"></i></h6>
                                </div>
                            </div>
                            <h4 class="text-danger mt-4 ml-3 pricingdetails">Pricing Details:</h4>
                            <div class="col-md-12 col-sm-12">
                                <div class="goldenpricedetails text-dark bg-light border rounded">
                                    <h6>
                                        <i class="fa fa-user"></i>
                                        Adults
                                        <br />
                                        <span>16+ years old</span>
                                    </h6>
                                    <h5>
                                        <span1>£99.00</span1>
                                        &nbsp;
                                        <span2>£89.00</span2>
                                    </h5>
                                    <h6>
                                        <i class="fa fa-child"></i>
                                        Child
                                        <br />
                                        <span>5-15 years age</span>
                                    </h6>
                                    <h5>
                                        <span1>£90.00</span1>
                                        &nbsp;
                                        <span2>£84.00</span2>
                                    </h5>
                                    <h6>
                                        <i class="fa fa-users"></i>
                                        Family
                                        <br />
                                        <span>2 Adults, 2 Children</span>
                                    </h6>
                                    <h5>
                                        <span1>£400.00</span1>
                                        &nbsp;
                                        <span2>£336.00</span2>
                                    </h5>
                                    <hr class="goldenhr" />
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-6">
                                            <a href="https://topbustours.gttix.com/warner-bros-studio-tour-london-the-making-of-harry-potter-with-return-transport" style="padding:10px 25px; font-size:12px;" class="button_slide slide_left ml-4">Book Now</a>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-6">
                                            <a href="https://topbustours.gttix.com/warner-bros-studio-tour-london-the-making-of-harry-potter-with-return-transport" style="padding:10px 25px; font-size:12px;" class="button_slide slide_left float-md-right mr-4">More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="premium" class="tab-pane fade">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="goldentour">
                                <img class="img-fluid" src="~/Images/Tickets/h-2-min.jpg" alt="Transport Only" />
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="goldentourtitle">
                                <h2 class="text-dark float-left">Transport Only</h2><br />
                                <br />
                                <h3 class="text-dark float-left">Harry Potter</h3>
                            </div>
                            <br />
                            <h4 class="text-danger mt-4 ml-3 highlights">Highlights:</h4>
                            <div class="col-md-12 col-sm-12">
                                <div class="goldenfacility bg-light border rounded pt-2">
                                    <h6>Discover the magical treasures<i class="fa fa-check-circle"></i></h6>
                                    <h6>Discover the magical world of Harry Potter<i class="fa fa-check-circle"></i></h6>
                                    <h6>Walk through the Great Hall<i class="fa fa-check-circle"></i></h6>
                                    <h6>Get up close to the costumes<i class="fa fa-check-circle"></i></h6>
                                </div>
                            </div>
                            <h4 class="text-danger mt-4 ml-3 pricingdetails">Pricing Details:</h4>
                            <div class="col-md-12 col-sm-12">
                                <div class="goldenpricedetails text-dark bg-light border rounded">
                                    <h6>
                                        <i class="fa fa-user"></i>
                                        Adults
                                        <br />
                                        <span>16+ years old</span>
                                    </h6>
                                    <h5>
                                        <span1>£45.00</span1>
                                        &nbsp;
                                        <span2>£40.00</span2>
                                    </h5>
                                    <h6>
                                        <i class="fa fa-child"></i>
                                        Child
                                        <br />
                                        <span>5-15 years age</span>
                                    </h6>
                                    <h5>
                                        <span1>£40.00</span1>
                                        &nbsp;
                                        <span2>£35.00</span2>
                                    </h5>
                                    <h6>
                                        <i class="fa fa-users"></i>
                                        Family
                                        <br />
                                        <span>2 Adults, 2 Children</span>
                                    </h6>
                                    <h5>
                                        <span1>£150.00</span1>
                                        &nbsp;
                                        <span2>£140.00</span2>
                                    </h5>
                                    <hr class="goldenhr" />
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-6">
                                            <a href="https://topbustours.gttix.com/warner-bros-studio-tour-london-the-making-of-harry-potter-transportation-only" style="padding:10px 25px; font-size:12px;" class="button_slide slide_left ml-4">Book Now</a>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-6">
                                            <a href="https://topbustours.gttix.com/warner-bros-studio-tour-london-the-making-of-harry-potter-transportation-only" style="padding:10px 25px; font-size:12px;" class="button_slide slide_left float-md-right mr-4">More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="deluxe" class="tab-pane fade">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="goldentour">
                                <img class="img-fluid" src="~/Content/Images/Tickets/h-3-min.jpg" alt="Studio + Return Transport" />
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="goldentourtitle">
                                <h2 class="text-dark float-left">Studio + Return Transport</h2><br />
                                <br />
                                <h3 class="text-dark float-left">Harry Potter</h3>
                            </div>
                            <br />
                            <h4 class="text-danger mt-4 ml-3 highlights">Highlights:</h4>
                            <div class="col-md-12 col-sm-12">
                                <div class="goldenfacility bg-light border rounded pt-2">
                                    <h6>Preferred Partners With Warner Bross<i class="fa fa-check-circle"></i></h6>
                                    <h6>Return Transportation from Central<i class="fa fa-check-circle"></i></h6>
                                    <h6>Air-Conditioned Buses<i class="fa fa-check-circle"></i></h6>
                                    <h6>Begin your Experience with a Harry<i class="fa fa-check-circle"></i></h6>
                                </div>
                            </div>
                            <h4 class="text-danger mt-4 ml-3 pricingdetails">Pricing Details:</h4>
                            <div class="col-md-12 col-sm-12">
                                <div class="goldenpricedetails text-dark bg-light border rounded">
                                    <h6>
                                        <i class="fa fa-user"></i>
                                        Adults
                                        <br />
                                        <span>16+ years old</span>
                                    </h6>
                                    <h5>
                                        <span1>£100.00</span1>
                                        &nbsp;
                                        <span2>£85.00</span2>
                                    </h5>
                                    <h6>
                                        <i class="fa fa-child"></i>
                                        Child
                                        <br />
                                        <span>5-15 years age</span>
                                    </h6>
                                    <h5>
                                        <span1>£95.00</span1>
                                        &nbsp;
                                        <span2>£80.00</span2>
                                    </h5>
                                    <h6>
                                        <i class="fa fa-users"></i>
                                        Family
                                        <br />
                                        <span>2 Adults + 2 Children</span>
                                    </h6>
                                    <h5>
                                        <span1>£350.00</span1>
                                        &nbsp;
                                        <span2>£320.00</span2>
                                    </h5>
                                    <hr class="goldenhr" />
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-6">
                                            <a href="https://topbustours.gttix.com/warner-bros-studio-tour-london-the-making-of-harry-potter-return-transportation-from-birmingham" style="padding:10px 25px; font-size:12px;" class="button_slide slide_left ml-4">Book Now</a>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-6">
                                            <a href="https://topbustours.gttix.com/warner-bros-studio-tour-london-the-making-of-harry-potter-return-transportation-from-birmingham" style="padding:10px 25px; font-size:12px;" class="button_slide slide_left float-md-right mr-4">More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

