@model TopBusToursLondon.ViewModels.HomeVM
@{
    ViewData["Title"] = "Home";
}

<!--Main Banner-->

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="~/Images/Slider/BigBusCover-min.jpg" alt="Big Bus Tours London">
            <div class="black-overlay"></div>
            <div class="carousel-caption d-none d-md-block">
                <h1 class="text-white">Big Bus Tours London</h1>
                <h5 class="text-white">HOP ON EXPLORE HOP OFF DISCOVER</h5>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/Images/Slider/GoldenTourCover-min.jpg" alt="Golden Tours">
            <div class="black-overlay"></div>
            <div class="carousel-caption d-none d-md-block">
                <h1 class="text-white">Golden Tours</h1>
                <h5 class="text-white">OPEN TOP BUS SIGHTSEEING TOURS </h5>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/Images/Slider/LondonAttractionCover-min.jpg" alt="London Attractions ">
            <div class="black-overlay"></div>
            <div class="carousel-caption d-none d-md-block">
                <h1 class="text-white">London Attractions</h1>
                <h5 class="text-white">VISIT COUNTRY SITE TO EXPLORE LONDON</h5>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!--Main Heading below Slider-->
<div class="container">
    <div class="row">
        <div class="col-lg-12 p-2">
            <div class="section-tittle text-center mb-50">
                <p style="margin-top: 2%;"></p>
                <h2>England Finest Sightseeing Tours</h2>
            </div>
        </div>
    </div>
</div>

<!--Tours Cards-->
<div class="container">
    <div class="row">
        @foreach (var tour in Model.Tour)
        {
            <div class="col-lg-4 col-md-4 col-sm-6 col-*">
                <a asp-controller="Home" asp-action="ShowTickets" asp-route-id="@tour.Id" style="text-decoration: none;">
                    <div class="card  text-white mb-3" style="-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
                                                                                                                                                       ">
                        <img style="width: 100%;" src="~/Uploads/Tour/@tour.ThumbnailImage" />
                        <div style="background-color: red; height: 3px;"></div>
                        <div class="cardtitle" style="height: 60px; background: linear-gradient(to bottom, #ccf5f0 0%, #09ac9b 100%);">
                            <h3 class="card-text pt-3 pl-2">
                                @tour.TourName
                                <span class="pr-3 pb-2 fa fa-arrow-right float-right"></span>
                            </h3>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>
<!--Popular Tours-->
<div class="container">
    <div class="row mt-4 pl-4 popular-tour">
        <h1>POPULAR TOURS</h1>
        <br />
    </div>
    <div class="row mt-2 pl-4 popular-tour-h5">
        <h5>Why not choose from a selection of our popular tours.</h5>
    </div>
</div>
<!--Popular Tours Content-->
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 mt-2 pop-content-img">
            <img class="img-fluid" src="~/Images/Harry.jpg" />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 popular-tour-content">
            <div class="popular-tour1">
                <h2>BIG BUS HOP-ON HOP-OFF TOURS</h2>
            </div>
            <div>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
            </div>
            <span class="price">From £29.00</span>
            <div class="text-justify text-left">
                <p>
                    Explore the historic London on the open-top bus these double-decker buses designed with hop on hop off sightseeing on multiple stops, like tower bridge, st paul’s cathedral...
                </p>
            </div>
            <br />
            <div>
                <a asp-action="ShowTickets" asp-controller="Home" class="button_slide slide_left" style="text-decoration: none;">VIEW TOUR </a>
                <br />
            </div>
        </div>
    </div>
</div>
<br />
<br />
<!--get in touch-->
<div id="subscribe">
    <div class="container">
        <div class="row mt-2 mb-2">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-* mt-2 pl-2">
                <div class="contactimg">
                    <img class="img-fluid w-100 h-auto" src="~/Images/tour8.jpg" />
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-*">
                <div class="text mt-2 contact-us">
                    <h1>GOT A QUESTION?</h1>
                </div>

                <p class="text-dark">We would love to hear from you! Here's how you can get in touch with us. </p>

                <a asp-action="Contact" asp-controller="Home" class="button_slide slide_left mb-1" style="text-decoration: none;">GET IN TOUCH</a>
            </div>
        </div>
    </div>
</div>
<!--Subscribe Now -->
<section class="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="content">
                    <h2>SUBSCRIBE TO OUR NEWSLETTERS</h2>
                    <form method="post" asp-action="Create" asp-controller="Newsletters">
                        <div class="input-group">
                            <input asp-for="Newsletters.Email" id="email" class="form-control" placeholder="Enter your email" />
                            <span class="input-group-btn">
                                <button id="Button" class="btn1" type="submit" onclick="Confirm">Subscribe</button>
                            </span>
                        </div>
                        <span asp-validation-for="Newsletters.Email" class="text-danger float-left text-danger" style="font-weight: bold !important"></span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            var Confirm = function () {
                alert("Thank your subscribing");
            }
            //$('#Button').click(
            //    function () {
            //        $.ajax({
            //            url: '/Newsletters/Create/',
            //            type: "post",
            //            contentType: "application/json; charset=utf-8",
            //            datatType: "json",
            //            success: function () {
            //                if (success) {
            //                    Swal.fire({
            //                        position: 'center',
            //                        icon: 'success',
            //                        title: 'Your work has been saved',
            //                        showConfirmButton: false,
            //                        timer: 1500
            //                    });
            //                } else {
            //                    return Window.location.href = "/Home/Index/";
            //                }
            //            }
            //        });
            //    });
        });
    </script>
}