
@{
    ViewData["Title"] = "Original Tours";
}

<!--Main Image-->
<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 px-0">
                <img class="img-fluid bigbusimg" src="~/Images/Slider/BigBusCover-min.jpg" alt="Big Bus Tour" />
            </div>
        </div>
    </div>
</header>

<!--Main Heading-->
<div class="container">
    <div class="row justify-content-center mt-n5">
        <div class="col-lg-2">

        </div>
        <div class="col-md-auto my-auto col-sm-auto bg-light shadow border border-info rounded">
            <h1 style="text-align:center;font-family:'Playfair Display'" class="h1_responsive">Original Tours Tickets</h1>
            <p style="text-align:center" class="p_responsive">
                Tickets of our most popular and comprehensive tour of London.
            </p>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
</div>
<br />
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Original Tours</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    For Original Tours Tickets Booking Please contact us on<br />
                    <b>+0044 2080046767</b> Or visit us at<br />
                    <strong> Victoria Top Bus Tours London</strong>
                    outside national rail Victoria Station terminus place sw1v 1jr
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" style="padding:10px 25px" class="button_slide slide_left" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--Nav Tags-Tickets Types-->
<section class="container py-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-*">
            <ul id="tabsJustified" class="nav nav-tabs nav-justified">
                <li class="nav-item tckt">
                    <a href="" data-target="#classic" data-toggle="tab" class="nav-link small bg-dark text-uppercase active">24Hours</a>
                </li>
                <li class="nav-item tckt">
                    <a href="" data-target="#premium" data-toggle="tab" class="nav-link small bg-dark text-uppercase">48Hours</a>
                </li>
                <li class="nav-item tckt">
                    <a href="" data-target="#deluxe" data-toggle="tab" class="nav-link small bg-dark text-uppercase">72Hours</a>
                </li>
                <li class="nav-item tckt">
                    <a href="" data-target="#daytime" data-toggle="tab" class="nav-link small bg-dark text-uppercase">Day Time</a>
                </li>
            </ul>
            <br>
            <div id="tabsJustifiedContent" class="tab-content">
                <div id="classic" class="tab-pane fade active show">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="goldentour">
                                <img class="img-fluid" src="~/Images/Tickets/o-24-min-bigbus.jpg" alt="24 Hours Original Tour" />
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="goldentourtitle">
                                <h2 class="text-dark float-left">24 Hours Ticket</h2><br />
                                <br />
                                <h3 class="text-dark float-left">Original Tours</h3>
                            </div>
                            <br />
                            <h4 class="text-danger mt-4 ml-3 highlights">Highlights:</h4>
                            <div class="col-md-12 col-sm-12">
                                <div class="goldenfacility bg-light border rounded pt-2">
                                    <h6>24hours open top city tour <i class="fa fa-check-circle"></i></h6>
                                    <h6>Free walking tour <i class="fa fa-check-circle"></i></h6>
                                    <h6>Free river cruse one way <i class="fa fa-check-circle"></i></h6>
                                    <h6>Free Wi-Fi on Board <i class="fa fa-check-circle"></i></h6>
                                </div>
                            </div>
                            <h4 class="text-danger mt-4 ml-3 pricingdetails">Pricing Details:</h4>
                            <div class="col-md-12 col-sm-12">
                                <div class="goldenpricedetails text-dark bg-light border rounded">
                                    <h6>
                                        <i class="fa fa-user"></i>
                                        Adults
                                        <br />
                                        <span>16+ years old</span>
                                    </h6>
                                    <h5>
                                        <span1>£34.00</span1>
                                        &nbsp;
                                        <span2>£31.50</span2>
                                    </h5>
                                    <h6>
                                        <i class="fa fa-child"></i>
                                        Children
                                        <br />
                                        <span>5-15 years age</span>
                                    </h6>
                                    <h5>
                                        <span1>£16.00</span1>
                                        &nbsp;
                                        <span2>£14.50</span2>
                                    </h5>
                                    <h6>
                                        <i class="fa fa-users"></i>
                                        Family
                                        <br />
                                        <span>2 Adults, 2 Children</span>
                                    </h6>
                                    <h5>
                                        <span1>£84.00</span1>
                                        &nbsp;
                                        <span2>£75.60</span2>
                                    </h5>
                                    <hr class="goldenhr" />
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-6">
                                            <button data-toggle="modal" data-target="#exampleModal" style="padding:10px 25px; font-size:12px;" class="button_slide slide_left ml-4">Book Now</button>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-6">
                                            <button data-toggle="modal" data-target="#exampleModal" style="padding:10px 25px; font-size:12px;" class="button_slide slide_left float-md-right mr-4">More</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="premium" class="tab-pane fade">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="goldentour">
                                <img class="img-fluid" src="~/Images/Tickets/g-48-min.jpg" alt="48 Hours Ticket" />
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="goldentourtitle">
                                <h2 class="text-dark float-left">48 Hours Ticket</h2><br />
                                <br />
                                <h3 class="text-dark float-left">Original Tours</h3>
                            </div>
                            <br />
                            <h4 class="text-danger mt-4 ml-3 highlights">Highlights:</h4>
                            <div class="col-md-12 col-sm-12">
                                <div class="goldenfacility bg-light border rounded pt-2">
                                    <h6>48hours open top city tour <i class="fa fa-check-circle"></i></h6>
                                    <h6>Free walking tour <i class="fa fa-check-circle"></i></h6>
                                    <h6>Free river cruse return <i class="fa fa-check-circle"></i></h6>
                                    <h6>Free Wi-Fi on Board <i class="fa fa-check-circle"></i></h6>
                                </div>
                            </div>
                            <h4 class="text-danger mt-4 ml-3 pricingdetails">Pricing Details:</h4>
                            <div class="col-md-12 col-sm-12">
                                <div class="goldenpricedetails text-dark bg-light border rounded">
                                    <h6>
                                        <i class="fa fa-user"></i>
                                        Adults
                                        <br />
                                        <span>16+ years old</span>
                                    </h6>
                                    <h5>
                                        <span1>£44.00</span1>
                                        &nbsp;
                                        <span2>£39.80</span2>
                                    </h5>
                                    <h6>
                                        <i class="fa fa-child"></i>
                                        Children
                                        <br />
                                        <span>5-15 years age</span>
                                    </h6>
                                    <h5>
                                        <span1>£21.00</span1>
                                        &nbsp;
                                        <span2>£18.90</span2>
                                    </h5>
                                    <h6>
                                        <i class="fa fa-users"></i>
                                        Family
                                        <br />
                                        <span>2 Adults, 2 Children</span>
                                    </h6>
                                    <h5>
                                        <span1>£109.00</span1>
                                        &nbsp;
                                        <span2>£98.10</span2>
                                    </h5>
                                    <hr class="goldenhr" />
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-6">
                                            <button data-toggle="modal" data-target="#exampleModal" style="padding:10px 25px; font-size:12px;" class="button_slide slide_left ml-4">Book Now</button>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-6">
                                            <button data-toggle="modal" data-target="#exampleModal" style="padding:10px 25px; font-size:12px;" class="button_slide slide_left float-md-right mr-4">More</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="deluxe" class="tab-pane fade">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="goldentour">
                                <img class="img-fluid" src="~/Images/Tickets/g-72-min.jpg" alt="72 Hours Ticket" />
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="goldentourtitle">
                                <h2 class="text-dark float-left">72 Hours Ticket</h2><br />
                                <br />
                                <h3 class="text-dark float-left">Original Tours</h3>
                            </div>
                            <br />
                            <h4 class="text-danger mt-4 ml-3 highlights">Highlights:</h4>
                            <div class="col-md-12 col-sm-12">
                                <div class="goldenfacility bg-light border rounded pt-2">
                                    <h6>24hours open top city tour <i class="fa fa-check-circle"></i></h6>
                                    <h6>Free walking tour <i class="fa fa-check-circle"></i></h6>
                                    <h6>Free river cruse 1 way <i class="fa fa-check-circle"></i></h6>
                                    <h6>Ticket valid for all 4 routes <i class="fa fa-check-circle"></i></h6>
                                </div>
                            </div>
                            <h4 class="text-danger mt-4 ml-3 pricingdetails">Pricing Details:</h4>
                            <div class="col-md-12 col-sm-12">
                                <div class="goldenpricedetails text-dark bg-light border rounded">
                                    <h6>
                                        <i class="fa fa-user"></i>
                                        Adults
                                        <br />
                                        <span>16+ years old</span>
                                    </h6>
                                    <h5>
                                        <span1>£54.00</span1>
                                        &nbsp;
                                        <span2>£48.10</span2>
                                    </h5>
                                    <h6>
                                        <i class="fa fa-child"></i>
                                        Children
                                        <br />
                                        <span>5-15 years age</span>
                                    </h6>
                                    <h5>
                                        <span1>£26.00</span1>
                                        &nbsp;
                                        <span2>£23.40</span2>
                                    </h5>
                                    <h6>
                                        <i class="fa fa-users"></i>
                                        Family
                                        <br />
                                        <span>2 Adults, 2 Children</span>
                                    </h6>
                                    <h5>
                                        <span1>£134.00</span1>
                                        &nbsp;
                                        <span2>£120.60</span2>
                                    </h5>
                                    <hr class="goldenhr" />
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-6">
                                            <button data-toggle="modal" data-target="#exampleModal" style="padding:10px 25px; font-size:12px;" class="button_slide slide_left ml-4">Book Now</button>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-6">
                                            <button data-toggle="modal" data-target="#exampleModal" style="padding:10px 25px; font-size:12px;" class="button_slide slide_left float-md-right mr-4">More</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="daytime" class="tab-pane fade">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="goldentour">
                                <img class="img-fluid" src="~/Images/Tickets/g-24-min.jpg" alt="Day Ticket of Golden Tour" />
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="goldentourtitle">
                                <h2 class="text-dark float-left">Day Ticket</h2><br />
                                <br />
                                <h3 class="text-dark float-left">Original Tours</h3>
                            </div>
                            <br />
                            <h4 class="text-danger mt-4 ml-3 highlights">Highlights:</h4>
                            <div class="col-md-12 col-sm-12">
                                <div class="goldenfacility bg-light border rounded pt-2">
                                    <h6>Valid for one day <i class="fa fa-check-circle"></i></h6>
                                    <h6>Free Wi-Fi on board<i class="fa fa-check-circle"></i></h6>
                                    <h6>Free river cruse 1 way <i class="fa fa-check-circle"></i></h6>
                                    <h6>Live English speaking guide <i class="fa fa-check-circle"></i></h6>
                                </div>
                            </div>
                            <h4 class="text-danger mt-4 ml-3 pricingdetails">Pricing Details:</h4>
                            <div class="col-md-12 col-sm-12">
                                <div class="goldenpricedetails text-dark bg-light border rounded">
                                    <h6>
                                        <i class="fa fa-user"></i>
                                        Adults
                                        <br />
                                        <span>16+ years old</span>
                                    </h6>
                                    <h5>
                                        <span1>£29.00</span1>
                                        &nbsp;
                                        <span2>£29.00</span2>
                                    </h5>
                                    <h6>
                                        <i class="fa fa-child"></i>
                                        Children
                                        <br />
                                        <span>5-15 years age</span>
                                    </h6>
                                    <h5>
                                        <span1>£15.00</span1>
                                        &nbsp;
                                        <span2>£15.00</span2>
                                    </h5>
                                    <h6>
                                        <i class="fa fa-users"></i>
                                        Family
                                        <br />
                                        <span>2 Adults, 2 Children</span>
                                    </h6>
                                    <h5>
                                        <span1>£78.00</span1>
                                        &nbsp;
                                        <span2>£78.00</span2>
                                    </h5>
                                    <hr class="goldenhr" />
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-6">
                                            <button data-toggle="modal" data-target="#exampleModal" style="padding:10px 25px; font-size:12px;" class="button_slide slide_left ml-4">Book Now</button>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-6">
                                            <button data-toggle="modal" data-target="#exampleModal" style="padding:10px 25px; font-size:12px;" class="button_slide slide_left float-md-right mr-4">More</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
