
@{
    ViewData["Title"] = "Our Services";
}

<section class="we-offer-area text-center bg-gray" style="padding: 60px 0; min-height: 100vh;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="site-heading text-center">
                    <h2>What we <span>Offer</span></h2>
                    <h4>We provide affordable and comfortable vacations tourism.</h4>
                </div>
            </div>
        </div>
        <div class="row our-offer-items less-carousel">
            <!-- Single Item -->
            <div class="col-md-4 col-sm-6 equal-height">
                <div class="item">
                    <i class="fa fa-map-signs"></i>
                    <h4>Vacation Planning</h4>
                    <p>
                        We offer vacation planning for the individuals, children and family in United Kingdom and abroad.
                    </p>
                </div>
            </div>
            <!-- End Single Item -->
            <!-- Single Item -->
            <div class="col-md-4 col-sm-6 equal-height">
                <div class="item">
                    <i class="fa fa-train"></i>
                    <h4>Tourism</h4>
                    <p>
                        We continue to provide best services for tourism, so that our customers may refresh their minds and souls.
                    </p>
                </div>
            </div>
            <!-- End Single Item -->
            <!-- Single Item -->
            <div class="col-md-4 col-sm-6 equal-height">
                <div class="item">
                    <i class="fa fa-tasks"></i>
                    <h4>Tours Management</h4>
                    <p>
                        Customer satisfaction is our top priority so our team of individuals manage tours professionally.
                    </p>
                </div>
            </div>
            <!-- End Single Item -->
            <!-- Single Item -->
            <div class="col-md-4 col-sm-6 equal-height">
                <div class="item">
                    <i class="fa fa-tachometer"></i>
                    <h4>Secure Payment</h4>
                    <p>
                        Ticktes buying through our website is safe and secure. For us customer security means a lot.
                    </p>
                </div>
            </div>
            <!-- End Single Item -->
            <!-- Single Item -->
            <div class="col-md-4 col-sm-6 equal-height">
                <div class="item">
                    <i class="fa fa-recycle"></i>
                    <h4>Data Security</h4>
                    <p>
                        We have a top security system to ensure that there is no data vulnerability.
                    </p>
                </div>
            </div>
            <!-- End Single Item -->
            <!-- Single Item -->
            <div class="col-md-4 col-sm-6 equal-height">
                <div class="item">
                    <i class="fa fa-headphones"></i>
                    <h4>24/7 Support</h4>
                    <p>
                        For contact, we are available all the time. You may contact us through our telephone or email address.
                    </p>
                </div>
            </div>
            <!-- End Single Item -->
        </div>
    </div>
</section>

